@import url( "~leaflet/dist/leaflet.css" );

.map {
 
        padding: $xxxl-pd;
        height: 50%

}


.leaflet-container {
  width: 100%;
  height: 500px; // 500px is the default height of the map
}

.leaflet-right .leaflet-control {
  margin-right: 0;
}

.leaflet-top .leaflet-control {
  margin-top: 0;
}

.leaflet-routing-container {
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  margin: 0;
  max-height: 40rem;
  overflow: auto;
  width: 50%;
}

.leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar  {
  border: none;
}

.leaflet-control-attribution {
  display: none;
}

td {
  font-size: $xxs-sz;
}