.footer {
    background-color: $senary;

    &__container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: $l-pd;
        gap: 1rem;
        text-align: center;
        color: $quaternary;
        font-size: 1.3rem;
        align-items: center ;
    
    }

    &__contact {
        display: grid;   
    }

    &__li {
        margin-bottom: 0;
    }

    &__social{
        display: flex;
        gap: 2rem;
        justify-content: center;
        width: 100%;
    }


    &__icon{
        width: 2rem;
        height: 2rem;
        margin-top: 0.5rem;
    }

    &__information{
        font-size: 1.2rem;
    }

    &__adress{
        font-size: 1.2rem;
    }
}