.header {
    background-image: url('../../assets/img/test_1.png') !important;
    background-attachment: scroll !important;
    background-repeat: no-repeat !important;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    &__container {
        display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 9fr 1fr;
    width: 100%;
    height: 100%;
    } 

    &__content {
        display: grid;
        color: $quaternary;
        align-content: center;
        align-items: center;
        justify-items: center;
    }
    
    &__h1 {
        font-weight: 500;
        text-align: center;
        @include desktop {
            font-size:$xxxl-sz ;
        }
    }
}