.header {
    background-image: url('../../assets/img/img-accueil\ 1.png') !important;
    background-attachment: scroll !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center;
    height: 100vh;
    width: 100%;
}