body {
    font-family: 'Crimson Text', serif;    
    margin: 0;
    width: 100%;

}

*, ::after, ::before {
    box-sizing: border-box;
}

li {
    margin-bottom: 1rem;
    text-decoration: none;
    list-style: none;
    ;}

a {
    text-decoration: none;
    color: $quaternary;
}

p {
    margin: 0;
}

