body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    width: 100%;

}

*, ::after, ::before {
    box-sizing: border-box;
}

li {
    margin-bottom: 1rem;}

a {
    text-decoration: none;
    color: inherit;
}

p {
    margin: 0;
}

