body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
}

p {
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    margin-bottom: 20px;
    text-align: justify;
}

h3 {
    font-size: 24px;
    color: #4bab77;
}

