.account-img{
    background-image: url("../../assets/img/other-view-img.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.account{
    &__grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        height: 100%;
        gap: 1rem;
        margin-top: $xxl-pd;
        margin-bottom: $xxl-pd;
    }

    &__reservations{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: center;
        margin-top: auto;
        margin-bottom: auto;
        background-color: rgb(250, 248, 240,0.85);

    }

    &__donnees{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: center;
        margin-top: auto;
        margin-bottom: auto;
        background-color: rgb(223, 254, 212,0.85);

    }

    &__parametres{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: center;
        margin-top: auto;
        margin-bottom: auto;
        background-color: rgb(223, 254, 212,0.85);

    }

    &__connexion{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: center;
        margin-top: auto;
        margin-bottom: auto;
        background-color: rgb(250, 248, 240,0.85);

    }

    &__title{
        color: $secondary;
        font-size: $xxs-sz;
        padding: $l-pd;
        @include desktop {
            font-size: $l-sz;
        }
    }
}