.connexion-inscription{
    margin-top: $xl-mg;

    &__container{
        margin-left: auto;
        margin-right: auto;
        border-radius: $m-rad;
        width: 60%;
        height: 80%;
        padding-bottom: 5%;

        @include desktop{
            display: flex;
            width: 65%;
            height: 40%;
        }
    }

    &__connexion{
        background-color: rgb(250, 248, 240,0.85);
        padding: $xxl-pd;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        align-items: center; 
        margin-top: 5%;

        @include desktop{
            width: 50%;
            margin-top: 0;
        }
    }

    &__form{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: 100%;
        padding: $xl-pd;
        justify-content: center;
        margin-top: auto;
        margin-bottom: auto;

        @include desktop{
            padding: $xs-pd;
        }
    }

    &__form-input{
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    &__button{
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        display: flex;
        justify-content: center;
    }

    &__input{
        border-radius: $l-rad;
        border-style: solid;
        border-color: $senary;
        padding: $xs-pd;
        font-family: 'Crimsom Text', serif;

        &:focus{
            outline: none;
        }

        @include tablet{
            display: flex;
            width: 100%;
        }
    }

    &__input-submit{
        @include button;
    }

    &__text{
        margin-bottom: $l-pd;
        font-size: $xxs-sz;

        @include desktop{
            font-size: $xs-sz;
        }
    }

    &__title{
        display: flex;
        font-size: $s-sz;
        color: $senary;
        font-weight: $regular;

        @include desktop{
            font-size: $xl-sz;

        }
    }

    &__inscription{
        background-color: rgb(223, 254, 212,0.85);
        padding: $xxl-pd;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        align-items: center; 
        justify-content: center; 
        margin-top: 5%;

        @include desktop{
            width: 50%;
            margin-top: 0;
        }
    }


    &__form-line{
        gap: 2rem;
        display: flex;
        flex-direction: column;
        @include desktop{
            display: flex;
            flex-direction: row;
            justify-content: center;
            width: 100%;
            gap: 1rem;
            margin-left: auto;
            margin-right: auto;
        }
    }

    &__link{
        color: $senary;
        font-size: $xxs-sz;
        font-weight: $regular;
        display: flex;
        flex-direction: column;
        @include desktop{
            font-size: $xs-sz;
        }
    }

    &__form-connexion{
        display: flex;
        flex-direction: column;
        gap: 3rem;
        width: 100%;
        padding: $xl-pd;
        justify-content: center;
        margin-top: auto;
        margin-bottom: auto;

        @include desktop{
            padding: $xs-pd;
        }
    }

    
}

.container-img{
    background-image: url("../../assets/img/view-img.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}


