.presentation {

    &__title {
        text-align: center;
        padding: $l-pd;
        color: $secondary;
        font-weight: 400;
        margin-top:  $m-pd ;
        font-size: $l-sz;

        &::after {
            content: '';
            display: block;
            margin: auto;
            width: 60%;
            height: 0.2rem;
            background-color: $secondary;
            margin-top: $xxl-pd;

            @include tablet {
                width: 15rem;
            }
        }
    }
    
    &__content {
        padding: $l-pd;
        padding-top: 0;
    }

    &__content-title {
        font-size: $l-sz;
        font-weight: 400;
        color: $secondary;
        margin-bottom: $l-pd;
    }

    &__content-text {
        font-size: $xs-sz;
    }

    &__grid-icon{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 1.5rem;
        padding: $l-pd;
        padding-bottom: 0;

        &::after {
            content: '';
            display: block;
            margin: auto;
            width: 60%;
            height: 0.2rem;
            background-color: $secondary;
            margin-top: $xxxl-pd;
            grid-column: 1 / 3;

            @include tablet {
                width: 15rem;
            }
        }
    }

    &__icon-content {
        display: grid;
        justify-items: center;
        gap: 1rem;
        text-align: center;
    }

    &__text {
        font-size: $xs-sz;

    }
}


.journey {
    padding: $l-pd;

    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: $l-pd;
        gap: 3rem;
    }

    &__span {
        text-align: center;
        color: $secondary;
        font-weight: 400;
        font-size: $l-sz;
        width: 100%;
    }

    &__title {
        margin-bottom: $l-pd;
        margin-top: $xl-pd;
    }
}