.App {
    background-color: $primary;
}

.presentation {
    padding: $l-pd;
    padding-bottom: 0;
    &::after {
        content: '';
        display: block;
        margin: auto;
        width: 60%;
        height: 0.2rem;
        background-color: $secondary;
        margin-top: $xxxl-pd;
        grid-column: 1 / 3;

        @include tablet {
            width: 15rem;
        }
    }

    @include tablet {
        padding-left: $xxl-pd;
        padding-right: $xxl-pd;
    }

    @include desktop {
        padding-left: 10rem;
        padding-right: 10rem;
        font-size: $xxl-sz;
    }

    @include big-desktop {
        padding-left: 17rem;
        padding-right: 17rem;
        font-size: $xxl-sz;
    }

    &__title {
        text-align: center;
        padding: $l-pd;
        padding-bottom: 0;
        color: $secondary;
        font-weight: 100;
        margin-top:  $m-pd ;
        font-size: $l-sz;
        font-family: 'Jacques Francois', serif;

        @include tablet {
            font-size: $xxl-sz;
        }
        
        &::after {
            content: '';
            display: block;
            margin: auto;
            width: 60%;
            height: 0.2rem;
            background-color: $secondary;
            margin-top: $xxl-pd;

            @include tablet {
                width: 15rem;
            }
        }
    }

    &__container {

        @include tablet {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem;
        align-items: center;
        }
    }
    
    &__content {
        padding: $l-pd;
        padding-top: 0;
        @include tablet {
            padding: 0;
        }

    }

    &__content-title {
        @include little-title;
        font-weight: 200;
        padding-left: $l-pd;
        @include tablet {
            padding-left: 0;
        }

    }

    &__content-text {
        font-size: $xs-sz;
        text-align: justify;
        max-height: 250px; 
        overflow-y: auto; 
        direction: rtl;
        padding-left: 1rem;

        @include mid-desktop {
            font-size: $s-sz;
        }
          
    }

    &__grid-icon{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 1.5rem;
        padding: $l-pd;
        padding-bottom: 0;
        @include tablet {
            padding-top: 0;
        }

    }

    &__icon-content {
        display: grid;
        justify-items: center;
        gap: 1rem;
        text-align: center;
    }

    &__text {
        font-size: $xs-sz;
        @include mid-desktop {
            padding : 0 $xxl-pd;

        }

    }
}


.journey {
    padding: $l-pd;

    @include tablet {
        padding-left: $xxl-pd;
        padding-right: $xxl-pd;
    }



    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: $l-pd;
        gap: 3rem;

        @include desktop {
            justify-content: space-around;
        }
    }

    &__title {
        @include little-title;
    }
}

.activity {
    padding: $l-pd;
    @include tablet {
        padding-left: $xxl-pd;
        padding-right: $xxl-pd;
    }

    &__container {
        padding: $l-pd;
        @include grid-center;
        gap: 3rem;

 }

 &__title {
    @include little-title;
 }

 &__content {
     width: 100%;
     display: grid;
     gap: 1rem;

        @include tablet {
            grid-template-columns: repeat(2, 1fr);
            align-items: center;
        }
        &--reverse {
            @include tablet {
                direction: rtl;
            }
         }
 }



 &__content-text {
    display: grid;
    align-items: center;
    gap: 1rem;

    &--reverse {
   
        @include tablet {
            text-align: left;
       
        }
    }
 }

 &__content-title {
    text-align: center;
    color: $secondary;
    font-family: 'Jacques Francois', serif;
    font-size: $s-sz;
 }


 &__img  {
    width: 100%;

    @include tablet {
        width: 70%;
        margin: auto;
    }
 }


}