.name {
    display:flex;
    margin:auto;
    padding:0 1rem 1rem;
    position: relative;
    &:before {
      content:'';
      width:100%;
      background:#16a085;
      opacity:0.3;
      bottom:0;
      height: 1px;
      left:0;
      position:absolute;
    }
    .letter {
      display:inline-block;
      opacity:0;
      transform:scale(0.9);
    }

    &__block {
        margin-right: 1rem;
    }
  }

  .loader__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 2rem;
    color: $senary;
  }

  .closing-animation {

    @keyframes closing {
      0% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }

  }

  .loader {
    background-color: $primary;
  }
