@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jacques+Francois&display=swap');

@import "./utils/mixins.scss";
@import "./utils/breakpoints.scss";
@import "./utils/palette.scss";

@import "./bases/reset.scss";

@import "./layout/header.scss";
@import "./layout/footer.scss";

@import "./components/slider.scss";
@import "./components/card.scss";
@import "./components/nav-bar.scss";
@import "./components/map.scss";

@import "./pages/home.scss";
@import "./pages/contact.scss";
@import "./pages/connexioninscription.scss";

